In [1]:
import pandas as pd
import numpy as np

recom_df_raw = pd.read_csv('./data/recom.csv')
recom_df = recom_df_raw.copy()

recom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      50000 non-null  int64
 1   Main_ID         50000 non-null  object
 2   Transaction_ID  50000 non-null  object
 3   Date            50000 non-null  object
 4   Price           50000 non-null  float64
 5   Code_Product    50000 non-null  float64
 6   Amount          50000 non-null  float64
 7   ItemKey         28597 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 3.1+ MB

In [2]:
recom_df.head()

,Unnamed: 0,Main_ID,Transaction_ID,Date,Price,Code_Product,Amount,ItemKey
0,0,90fada91,264f7a69,2022-10-07 20:53:49.153,125.0,5002.0,1.0,5002.0
1,1,9006f9ac,45c7d853,2022-09-17 15:54:57.187,19.0,35012.0,1.0,NaN
2,2,32270891,61ad76dd,2022-11-28 13:51:55.667,141.0,5005.0,1.0,5005.0
3,3,97e03e47,41ee09f6,2022-09-12 16:20:22.110,4.5,35078.5,1.0,NaN
4,4,41949228,244fe6d8,2022-10-14 18:53:43.933,129.5,49291.5,5.0,NaN

In [3]:
recom_df = recom_df.drop('Unnamed: 0', axis=1)
recom_df.head()

,Main_ID,Transaction_ID,Date,Price,Code_Product,Amount,ItemKey
0,90fada91,264f7a69,2022-10-07 20:53:49.153,125.0,5002.0,1.0,5002.0
1,9006f9ac,45c7d853,2022-09-17 15:54:57.187,19.0,35012.0,1.0,NaN
2,32270891,61ad76dd,2022-11-28 13:51:55.667,141.0,5005.0,1.0,5005.0
3,97e03e47,41ee09f6,2022-09-12 16:20:22.110,4.5,35078.5,1.0,NaN
4,41949228,244fe6d8,2022-10-14 18:53:43.933,129.5,49291.5,5.0,NaN

In [4]:
recom_df.columns = ['customer_id',
                    'transaction_id',
                    'date',
                    'price',
                    'product_id',
                    'quantity',
                    'item_id',
                   ]
recom_df.columns

Index(['customer_id', 'transaction_id', 'date', 'price', 'product_id',
       'quantity', 'item_id'],
      dtype='object')

In [5]:
recom_df.sample(5)

,customer_id,transaction_id,date,price,product_id,quantity,item_id
43865,94ac83c7,a8260eae,2022-11-14 15:33:09.250,36.5,25003.5,1.0,25003.5
6973,c3a4f9c7,ac45635c,2022-11-04 15:11:57.527,21.5,49292.0,1.0,NaN
17733,f7941ae4,28fe53ef,2022-10-09 16:38:35.203,79.0,5000.5,2.0,5000.5
36147,d3689a1d,272cee07,2022-11-08 20:33:49.317,52.5,49292.0,1.0,NaN
24554,9b936372,146cf89a,2022-09-28 14:33:43.623,37.0,49291.5,1.0,NaN

In [6]:
recom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  object
 1   transaction_id  50000 non-null  object
 2   date            50000 non-null  object
 3   price           50000 non-null  float64
 4   product_id      50000 non-null  float64
 5   quantity        50000 non-null  float64
 6   item_id         28597 non-null  float64
dtypes: float64(4), object(3)
memory usage: 2.7+ MB

In [7]:
# change date to datetime dtype
recom_df['date'] = pd.to_datetime(recom_df['date'])

# fill nan in item_id with product_id
recom_df['item_id'] = recom_df['item_id'].fillna(recom_df['product_id'])

recom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  object
 1   transaction_id  50000 non-null  object
 2   date            50000 non-null  datetime64[ns]
 3   price           50000 non-null  float64
 4   product_id      50000 non-null  float64
 5   quantity        50000 non-null  float64
 6   item_id         50000 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 2.7+ MB

In [8]:
# check differences between product_id and item_id

# Filter the DataFrame to find rows where 'item_id' is not equal to 'product_id'
diff_instances = recom_df.query("item_id != product_id")

# Optionally, display the result
print(diff_instances)

Empty DataFrame
Columns: [customer_id, transaction_id, date, price, product_id, quantity, item_id]
Index: []

In [20]:
# drop item_id
recom_df = recom_df.drop('item_id', axis = 1)

In [21]:
recom_df['customer_id'].value_counts()

customer_id
751131ee    51
734264e5    47
d0778daf    39
6b00f3c8    36
c33b52b6    36
            ..
2e767579     1
09b7ef0f     1
4ac511e8     1
56083fd2     1
51288e74     1
Name: count, Length: 28514, dtype: int64

In [22]:
recom_df['product_id'].value_counts()

product_id
49292.0     4862
49291.5     4694
5000.5      3814
45004.0     3071
10013.0     1572
            ...
165033.0       1
40052.5        1
20034.0        1
48590.0        1
35008.0        1
Name: count, Length: 333, dtype: int64

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

# Assume recom_df is already loaded and has the proper dtypes

# 1. Create an item-user pivot table:
#    Rows are customers, columns are items, and values are total quantity purchased.
item_user_matrix = recom_df.pivot_table(
    index='customer_id', 
    columns='product_id', 
    values='quantity', 
    aggfunc='sum', 
    fill_value=0
)

# 2. Compute the pairwise Pearson correlation matrix between items.
#    This will give you a DataFrame where each cell [i, j] represents the correlation between item i and item j.
pairwise_corr = item_user_matrix.corr(method='pearson')
print("Pairwise Pearson Correlation Matrix:")
print(pairwise_corr.head())

# 3. Compute the cosine similarity matrix between items.
#    Since the item vectors are in the columns, we need to take the transpose.
cosine_sim = cosine_similarity(item_user_matrix.T)
# Convert the result into a DataFrame for easier interpretation.
cosine_sim_matrix = pd.DataFrame(
    cosine_sim, 
    index=item_user_matrix.columns, 
    columns=item_user_matrix.columns
)
print("Cosine Similarity Matrix:")
print(cosine_sim_matrix.head())

Pairwise Pearson Correlation Matrix:
product_id  5000.5    5001.0    5001.5    5002.0    5002.5    5003.0    \
product_id
5000.5      1.000000  0.153768  0.084167  0.136879 -0.003353  0.002358
5001.0      0.153768  1.000000  0.063253  0.140715 -0.001517  0.000559
5001.5      0.084167  0.063253  1.000000  0.038621 -0.001557  0.007257
5002.0      0.136879  0.140715  0.038621  1.000000 -0.001741  0.019406
5002.5     -0.003353 -0.001517 -0.001557 -0.001741  1.000000 -0.000407

product_id  5004.0    5004.5    5005.0    5007.0    ...  200035.5  200037.0  \
product_id                                          ...
5000.5     -0.003475  0.051860  0.044544  0.032989  ... -0.005366 -0.002499
5001.0     -0.002629  0.063205  0.134752  0.039826  ... -0.002428 -0.001131
5001.5      0.007319  0.002618  0.020729  0.060464  ... -0.002492 -0.001161
5002.0     -0.003016  0.044679  0.027020  0.010047  ... -0.002786 -0.001298
5002.5     -0.000304 -0.000584 -0.000366 -0.000374  ... -0.000281 -0.000131

product_id  200037.5  200038.0  200038.5  200045.5  200046.0  200046.5  \
product_id
5000.5     -0.003893 -0.001500 -0.002121 -0.003485 -0.003674 -0.001500
5001.0     -0.001761 -0.000679 -0.000960 -0.001577 -0.001662 -0.000679
5001.5     -0.001808 -0.000696 -0.000985 -0.001618 -0.001706 -0.000696
5002.0     -0.002021 -0.000779 -0.001101 -0.001809 -0.001907 -0.000779
5002.5     -0.000204 -0.000078 -0.000111 -0.000182 -0.000192 -0.000078

product_id  200047.0  350027.5
product_id
5000.5     -0.001500 -0.002121
5001.0     -0.000679 -0.000960
5001.5     -0.000696 -0.000985
5002.0     -0.000779 -0.001101
5002.5     -0.000078 -0.000111

[5 rows x 333 columns]
Cosine Similarity Matrix:
product_id  5000.5    5001.0    5001.5    5002.0    5002.5    5003.0    \
product_id
5000.5      1.000000  0.176035  0.109702  0.163554       0.0  0.009817
5001.0      0.176035  1.000000  0.075706  0.153444       0.0  0.004047
5001.5      0.109702  0.075706  1.000000  0.053252       0.0  0.010787
5002.0      0.163554  0.153444  0.053252  1.000000       0.0  0.023231
5002.5      0.000000  0.000000  0.000000  0.000000       1.0  0.000000

product_id  5004.0    5004.5    5005.0    5007.0    ...  200035.5  200037.0  \
product_id                                          ...
5000.5      0.002263  0.061030  0.049954  0.038898  ...       0.0       0.0
5001.0      0.000000  0.067744  0.136973  0.042766  ...       0.0       0.0
5001.5      0.009945  0.007738  0.023809  0.063324  ...       0.0       0.0
5002.0      0.000000  0.049993  0.030384  0.013637  ...       0.0       0.0
5002.5      0.000000  0.000000  0.000000  0.000000  ...       0.0       0.0

product_id  200037.5  200038.0  200038.5  200045.5  200046.0  200046.5  \
product_id
5000.5           0.0       0.0       0.0       0.0       0.0       0.0
5001.0           0.0       0.0       0.0       0.0       0.0       0.0
5001.5           0.0       0.0       0.0       0.0       0.0       0.0
5002.0           0.0       0.0       0.0       0.0       0.0       0.0
5002.5           0.0       0.0       0.0       0.0       0.0       0.0

product_id  200047.0  350027.5
product_id
5000.5           0.0       0.0
5001.0           0.0       0.0
5001.5           0.0       0.0
5002.0           0.0       0.0
5002.5           0.0       0.0

[5 rows x 333 columns]

In [16]:
pairwise_corr.shape

(333, 333)

In [17]:
cosine_sim_matrix.shape

(333, 333)

In [24]:
recom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  object
 1   transaction_id  50000 non-null  object
 2   date            50000 non-null  datetime64[ns]
 3   price           50000 non-null  float64
 4   product_id      50000 non-null  float64
 5   quantity        50000 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 2.3+ MB

In [26]:
recom_df['date'].max(), recom_df['date'].min()

(Timestamp('2022-12-03 02:14:57.983000'),
 Timestamp('2022-08-26 00:00:14.643000'))

In [27]:
# Group by both customer_id and product_id, then aggregate:
# - ds_last_purchased: maximum date for each group
# - frequency: total quantity purchased for each group
customer_activities = (
    recom_df.groupby(['customer_id', 'product_id'])
            .agg(ds_last_purchased=('date', 'max'),
                 frequency=('quantity', 'sum'))
            .reset_index()
)

# Sort by customer_id ascending and frequency descending
customer_activities = customer_activities.sort_values(
    by=['customer_id', 'frequency'], ascending=[True, False]
)

# Display the result
print(customer_activities.head())

  customer_id  product_id       ds_last_purchased  frequency
0    00024de6     35097.0 2022-09-03 15:12:52.607        2.0
1    00084856     49291.5 2022-11-05 15:08:11.743        1.0
2    00084856     49292.0 2022-10-21 16:40:07.373        1.0
3    0008e848     40002.0 2022-09-13 19:34:10.853        1.0
4    00096930     49291.5 2022-11-25 20:13:57.747        2.0

In [28]:
# Extract unique product_id and price combinations
products = recom_df[['product_id', 'price']].drop_duplicates().reset_index(drop=True)

# Display the resulting table
print(products.head())

   product_id  price
0      5002.0  125.0
1     35012.0   19.0
2      5005.0  141.0
3     35078.5    4.5
4     49291.5  129.5