In [1]:
import pandas as pd
import numpy as np

recom_df_raw = pd.read_csv('./data/recom.csv')
recom_df = recom_df_raw.copy()

recom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      50000 non-null  int64
 1   Main_ID         50000 non-null  object
 2   Transaction_ID  50000 non-null  object
 3   Date            50000 non-null  object
 4   Price           50000 non-null  float64
 5   Code_Product    50000 non-null  float64
 6   Amount          50000 non-null  float64
 7   ItemKey         28597 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 3.1+ MB

In [2]:
recom_df.head()

,Unnamed: 0,Main_ID,Transaction_ID,Date,Price,Code_Product,Amount,ItemKey
0,0,90fada91,264f7a69,2022-10-07 20:53:49.153,125.0,5002.0,1.0,5002.0
1,1,9006f9ac,45c7d853,2022-09-17 15:54:57.187,19.0,35012.0,1.0,NaN
2,2,32270891,61ad76dd,2022-11-28 13:51:55.667,141.0,5005.0,1.0,5005.0
3,3,97e03e47,41ee09f6,2022-09-12 16:20:22.110,4.5,35078.5,1.0,NaN
4,4,41949228,244fe6d8,2022-10-14 18:53:43.933,129.5,49291.5,5.0,NaN

In [3]:
recom_df = recom_df.drop('Unnamed: 0', axis=1)
recom_df.head()

,Main_ID,Transaction_ID,Date,Price,Code_Product,Amount,ItemKey
0,90fada91,264f7a69,2022-10-07 20:53:49.153,125.0,5002.0,1.0,5002.0
1,9006f9ac,45c7d853,2022-09-17 15:54:57.187,19.0,35012.0,1.0,NaN
2,32270891,61ad76dd,2022-11-28 13:51:55.667,141.0,5005.0,1.0,5005.0
3,97e03e47,41ee09f6,2022-09-12 16:20:22.110,4.5,35078.5,1.0,NaN
4,41949228,244fe6d8,2022-10-14 18:53:43.933,129.5,49291.5,5.0,NaN

In [4]:
recom_df.columns = ['customer_id',
                    'transaction_id',
                    'date',
                    'price',
                    'product_id',
                    'quantity',
                    'item_id',
                   ]
recom_df.columns

Index(['customer_id', 'transaction_id', 'date', 'price', 'product_id',
       'quantity', 'item_id'],
      dtype='object')

In [5]:
recom_df.sample(5)

,customer_id,transaction_id,date,price,product_id,quantity,item_id
43865,94ac83c7,a8260eae,2022-11-14 15:33:09.250,36.5,25003.5,1.0,25003.5
6973,c3a4f9c7,ac45635c,2022-11-04 15:11:57.527,21.5,49292.0,1.0,NaN
17733,f7941ae4,28fe53ef,2022-10-09 16:38:35.203,79.0,5000.5,2.0,5000.5
36147,d3689a1d,272cee07,2022-11-08 20:33:49.317,52.5,49292.0,1.0,NaN
24554,9b936372,146cf89a,2022-09-28 14:33:43.623,37.0,49291.5,1.0,NaN

In [6]:
recom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  object
 1   transaction_id  50000 non-null  object
 2   date            50000 non-null  object
 3   price           50000 non-null  float64
 4   product_id      50000 non-null  float64
 5   quantity        50000 non-null  float64
 6   item_id         28597 non-null  float64
dtypes: float64(4), object(3)
memory usage: 2.7+ MB

In [7]:
# change date to datetime dtype
recom_df['date'] = pd.to_datetime(recom_df['date'])

# fill nan in item_id with product_id
recom_df['item_id'] = recom_df['item_id'].fillna(recom_df['product_id'])

recom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  object
 1   transaction_id  50000 non-null  object
 2   date            50000 non-null  datetime64[ns]
 3   price           50000 non-null  float64
 4   product_id      50000 non-null  float64
 5   quantity        50000 non-null  float64
 6   item_id         50000 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 2.7+ MB

In [8]:
# check differences between product_id and item_id

# Filter the DataFrame to find rows where 'item_id' is not equal to 'product_id'
diff_instances = recom_df.query("item_id != product_id")

# Optionally, display the result
print(diff_instances)

Empty DataFrame
Columns: [customer_id, transaction_id, date, price, product_id, quantity, item_id]
Index: []